* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
    display:flex;
    justify-content: center;
}

.cajaPadre {
    width: 1000px;
    height: 100px;
    background-color: coral;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.itemMenu {
    list-style: none;
    margin:0 8px;
}

.linkMenu {
    text-decoration: none;
    /* width: auto;
    height: auto; */
    list-style: none;
    text-transform:uppercase;
    background-color: teal;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkMenu:hover {
    color:whitesmoke;
}

